langchain
langchain-community==0.0.38 # <--- CHANGE THIS
langchain-groq
langchain-huggingface
faiss-cpu
pypdf
requests
rank-bm25
python-dotenv
uvicorn
fastapi
unstructured
python-docx
eml_parser
lxml
