langchain
langchain-community>=0.0.30  # MUST be at least 0.0.30 for UnstructuredLoaders
langchain-groq
langchain-huggingface
faiss-cpu
pypdf
requests
rank-bm25
python-dotenv
uvicorn
fastapi
unstructured
python-docx
eml_parser
lxml
